<link rel="stylesheet" href="components/css/navbar.css" />

<header class="navbar">
  <div class="logo">fNEMO</div>
  <div class="nav-links">
    <a href="index.html">Home</a>
    <a href="people.html">People</a>
    <div class="dropdown">
      <a href="resources.html" class="dropbtn">Resources ⬇</a>
      <div class="dropdown-content">
        <a>Experiments</a>
        <a href="tools.html">Tools</a>
        <a href="ml_models.html">Datasets</a>
        <a href="datasets.html">ML models</a>
      </div>
    </div>
  </div>
</header>
